################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MugenAITool/obj/Debug
/MugenAITool/bin/Debug
/.vs/MugenAITool/v14
/.vs/MugenAITool/v15
